[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask_sqlalchemy = "*"
flask_login = "*"
flask_bootstrap = "*"
flask_session = "*"
werkzeug = "*"
sqlalchemy = "*"
python-dotenv = "*"
bleach = "*"

[requires]
