<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Can2Curb</title>
    <link href="/static/styles/base.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <script defer src="/static/scripts/main.js"></script>
</head>
<body>
    {% include 'header.html' %}
    
    <main>
        <h1>{{title}}</h1>
        {% if current_user.profile_type != 'client' %}
            <button id="admin_home">Admin Home</button>
            <button id="build_route">Build Route</button>
            <button id="view_routes">View Routes</button>
            <button id="view_customers">View Customers</button>
        {% endif %}
        <form action="{{url_for('add_address')}}" method="POST">        
            <fieldset>
                <input type="hidden" value="{{customer_id}}" name="customer_id" id="customer_id">

                <legend>Address Information</legend>
                <label for="houseNum">House Number:</label>
                <input type="text" id="houseNum" name="houseNum" required>
                
                <label for="street">Street Address:</label>
                <input type="text" id="street" name="street" required>
                
                <label for="city">City:</label>
                <input type="text" id="city" name="city" required>
                
                <label for="state">State:</label>
                <input type="text" id="state" name="state" required>
                
                <label for="zipcode">Zip Code:</label>
                <input type="text" id="zipcode" name="zipcode" required>

                <label for="trash_day">Trash Day:</label>
                <select name="trash_day" id="trash_day">
                    <option value="" disabled selected>Select trash day</option>
                    <option value="monday">Monday</option>
                    <option value="tuesday">Tuesday</option>
                    <option value="wednesday">Wednesday</option>
                    <option value="thursday">Thursday</option>
                    <option value="friday">Friday</option>
                    <option value="saturday">Saturday</option>
                    <option value="sunday">Sunday</option>
                </select>
            </fieldset>
            
            <fieldset>
                <legend>Trash Can Information</legend>
                <label for="number-of-cans">Number of Cans:</label>
                <input type="number" id="number-of-cans" name="number-of-cans" required>
                
                <label for="location">Where They Are Kept:</label>
                <input type="text" id="location" name="location" required>
                
                <label for="gate-code">Gate/Garage Code (if applicable):</label>
                <input type="text" id="gate-code" name="gate-code">
                
                <label for="pets">Pets:</label>
                <textarea id="pets" name="pets" rows="3"></textarea>

                <label for="notes">Other Notes:</label>
                <textarea id="notes" name="notes" rows="3"></textarea>
            </fieldset>
            <input type="hidden" value="{{next}}" name="origin">
            <div class="submit-wrapper">
                <button type="submit">Save Address</button>
            </div>
        </form>
    </main>
</body>
</html>