<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Can2Curb</title>
    <link href="/static/styles/base.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <script defer src="/static/scripts/main.js"></script>
    <script defer src="/static/scripts/admin.js"></script>

</head>
<body>
    {% include 'header.html' %}
    
    <main>
        {% include 'admin_head.html' %}
        <table>
            <thead>
                <tr>
                    <th class="poetsen-one-regular table_column_head" id="house_num_head">Customer Name</th>
                    <th class="poetsen-one-regular table_column_head" id="house_num_head">Number of Addresses</th>
                    <th class="poetsen-one-regular table_column_head" id="house_num_head">View Customer</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{customer.fname}} {{customer.lname}}</td>
                    <td>{{customer.addresses | length }}</td>
                    <td>
                        <form action="{{ url_for('view_customer', customer_id=customer.id) }}" method="get">
                            <input type="submit" value="View Customer">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>