<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Can2Curb</title>
    <link href="/static/styles/base.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <script defer src="/static/scripts/main.js"></script>
    <script defer src="/static/scripts/admin.js"></script>

</head>
<body>
    {% include 'header.html' %}
    
    <main>
        {% include 'admin_head.html' %}
        <table>
            <thead>
                <tr>
                    <th class="poetsen-one-regular table_column_head" id="house_num_head">Route Name</th>
                    <th class="poetsen-one-regular table_column_head" id="house_num_head">Trash Day</th>
                    <th class="poetsen-one-regular table_column_head" id="house_num_head">Number of Houses</th>
                    <th class="poetsen-one-regular table_column_head" id="house_num_head">View Route</th>
                    <th class="poetsen-one-regular table_column_head" id="assign_route">Assign to Employee</th>
                    <th class="poetsen-one-regular table_column_head" id="edit_route">Edit</th>
                    <th class="poetsen-one-regular table_column_head" id="delete_route">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for route in all_routes %}
                <tr>
                    <td>{{route.name}}</td>
                    <td>{{route.day}}</td>
                    <td>{{route.addresses | length }}</td>
                    <td>
                        <form class="table_form" action="{{ url_for('view_route', route_id=route.id) }}" method="get">
                            <input type="submit" value="View Route">
                        </form>
                    </td>
                    <td>
                        <form class="table_form assign_route" action="{{ url_for('assign_route', route_id=route.id) }}" method="GET">
                            <input type="submit" value="Assign">
                        </form>
                    </td>
                    <td>
                        <form class="table_form delete_edit" action="{{ url_for('edit_route', route_id=route.id) }}" method="get">
                            <input type="hidden" name="next" id="next">
                            <input type="submit" value="✏️">
                        </form>
                    </td>
                    <td>
                        <form class="table_form delete_edit" action="{{ url_for('delete_route', route_id=route.id) }}" method="POST">
                            <input type="hidden" name="next" id="next">
                            <input type="submit" value="🗑️">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>