.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
}
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main {
    width: 90%;
    margin: 0 auto;
}

/* Header Styling */
header {
    background-color: #2B642D;
    color: white;
    margin: 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logo-header {
    font-size: 2rem;
    margin: 0;
}
.logo-header a {
    text-decoration: none;
    color: white;
}

/* Nav */
nav {
    margin-left: auto;
    display: flex;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0 1rem;
    line-height: 2rem;
}

nav a:hover {
    text-decoration: underline;
}

/* Registration Form Styling */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
fieldset {
    margin-bottom: 1em;
    border: 1px solid #CCC;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}
legend {
    padding: 0.5em 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background: #F5F5F5;
}
label {
    display: block;
    margin-top: 0.5em;
}
input, textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #CCC;
    border-radius: 0.5em;
}
.submit-wrapper {
    text-align: center;
}
button {
    background-color: #2B642D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin: 0 auto;
}
button:hover {
    background-color: #45a049;
}
/* table */
table {
    margin: 1rem;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
thead tr {
    background-color: #2B642D;
    color: white;
    font-weight: bold;
}
tbody tr:nth-child(odd) {
    background-color: white;
}
tbody tr:nth-child(even) {
    background-color: rgb(201, 248, 201);
}
table td, table th {
    padding: .25rem;
}
.sort-asc::after {
    content: ' ▲';
}
.sort-desc::after {
    content: ' ▼';
}
.checkbox-column {
    width: 5%;
}

.hidden {
    display: none;
}